img {
  align-content: center;
  padding: 10px 0px 10px 0px;
  height: 400px;
}
body {
  background-size: 1000px 2000px;
}

h1 {
  font-size: 100px;
  color: white;
  font-family: "helvetica";
  text-align: center;
}

header {
  text-align: center;
}

ul li {
  padding: 0px 10px 0px 10px;
  align-self: center;
  font-family: "helvetica";
  display: inline;
}

a {
  color: white;
  font-size: 40px;
}

body {
  background-color: black;
}
