body, html {
  cursor: url(./shuttle.ico), cursor;
  height: 100%;
}

.d-block {
  width:1920px;
  height:825px;
}

a {
  color: pink;
}

  div#imageContainerPlanets {
  align-content: center;
}

div#imageContainerHome {
  align-content: center;
  margin-left: 50px;
}

div#imageContainerSpaceCadets {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-left: 40;
    margin-top: 20;
}
div#imageContainerSpaceCadets2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-right: 40;
    margin-top: 20;
}

header {
  margin: 20px 20px 0px 0px;
}

body {
  background-size: 2000px 2800px;
  text-align: center;
}

article {
  max-width: 700px;
  height: 2000px;
  margin: auto;
  background-color: rgba(10, 15, 25, 0.5);
}

p {
  font-family: "helvetica";
  color: white;
  padding: 0px 10px 10px 10px;
}

div#navbarNav {
  padding: 5px 5px 5px 5px;
}

body {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
  margin: 10px 10px 10px 10px;
}

div#home {
  color: white;
  text-align: centre;
  padding: 0px 0px 0px 0px;
  margin: 20px 20px 20px 20px;
}

div#aboutus {
  color: white;
  text-align: left;
  padding: 10px 10px 10px 10px;
}

.aboutus.h2 {
  font-size: 10px;
  font-weight: bold;
}

.aboutus.p {
  font-size: 7px;
  font-weight: normal;
}

.btn.btn-outline-light {
  color: pink;
}

div#spacenews {
  color: white;
  text-align: left;
  margin: 10px 10px 10px 10px;
}

h2 {
  padding: 10px 10px 10px 10px
}
div#education {
  color: white;
  text-align: center;
  font-family: arial;
}
